<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Music Picker</title>
</head>

<body>
    <h1>Music Picker</h1>
    <h2>Wpisz autora i utwór by zobaczyć spersonalizowane rekomendacje muzyczne!</h2>
    <form class='form-pick' method='POST' action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.song.label }}<br>
            {{ form.song(size=30) }}<br>
        </p>
        <p>
            {{ form.artist.label }}<br>
            {{ form.artist(size=30) }}<br>
        </p>
        <p>
            {{ form.numberOfSongs.label }}<br>
            {{ form.numberOfSongs }}<br>
        </p>
        <p>
            <input class='btn-submit' type="submit" value="Szukaj">
        </p>
    </form>

    {% if average_distance is not none %}
    <p class="average-distance-info">
        📏 Średni dystans do potencjalnych rekomendacji: {{ "%.4f"|format(average_distance) }}
    </p>
    {% endif %}
    {% if feedback_message is defined and feedback_message is not none %}
    <div class="feedback-section">
        <h2>Rekomendowane utwory:</h2>
        {% if feedback_message %} {# Sprawdź, czy lista nie jest pusta #}
        <table>
            <thead>
                <tr>
                    <th>Tytuł utworu</th>
                    <th>Artysta</th>
                </tr>
            </thead>
            <tbody>
                {% for song in feedback_message %}
                <tr>
                    <td>{{ song.track_name }}</td>
                    <td>{{ song.artist_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nie znaleziono żadnych rekomendacji pasujących do Twojego zapytania.</p>
        {% endif %}
    </div>
    {% endif %}

</body>

</html>